<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="gold">
    <center>
        <div style="background-color:white;width: 400px;height: 400px ;">
            <h1>Registration Form</h1>
    <form  method="POST" action="save" enctype="multipart/form-data">
        {% csrf_token %}
        Name : <input type="text" name="Name"  /><br><br>
        User_Name : <input type="text" name="User"  /><br><br>
        DOB : <input type="date" name="DOB"  /><br><br>
        <label for="gender">Gender :</label>
        <input type="radio" name="Gender" id="gender" value="Male" />Male
         <input type="radio" name="Gender"  id="gender" value="Female" />Female<br><br>
         <!-- Profile:<input type="file" name="used" accept="img/*">
        <br><br> -->
        <input type="submit"  value="Submit" style="background-color:blue;color:white;" />
    </form>
</div>
</center>
</body>
</html>